@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;

}
.row{

align-items:center;
} 

 .product-inner-box .icons{
    display: flex;
    left: 160px;
    flex-direction: column;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    position: absolute;
    opacity: 0;

 }

 .product-inner-box .icons a{
    width: 30px;
     height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #a88989;
    margin-top: 3px;
 }
 .product-inner-box .onsale .badge{
   background-color: #000;
   font-size: 12px;
   padding: 5px 14px;
   top:0px;
   position: absolute;
 }
 .product-inner-box .onsale .badge:before{
   border-width: 17px 0px 0px 12px;
   border-color: transparent transparent transparent #000000;
   content: "";
   position: absolute;
   right: -10px;
   width: 0;
   bottom: 0;
   border-style: solid;
 }
 .product-inner-box .onsale .badge:after{
   border-width: 13px 10px 0 10px;
   border-color: #000000 transparent transparent;
   content: "";
   position: absolute;
   right: -10px;
   width: 0;
   bottom: 7;
   border-style: solid;
   top: 0%;
 }
 .product-inner-box img{
   box-shadow: 0 33px 61px -29px rgb(0 0 0 / 30%);
   width: 200px;
  height: 250px;
  object-fit: cover;
 
 } 
 .product-box.is-hover .icons{
   transform: rotateY(-3%);
   top: 3%;
   opacity: 1;
 } 
 .cart-btn{
   left: 7px;
   position: absolute;
   bottom: 12px;
   text-align: center;
  opacity: 0;
   transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
 }
 .cart-btn button{
   font-size: 15px;
   color: aliceblue;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); /* Ajusta el valor para el efecto de sombra deseado */
}
.product-box.is-hover .cart-btn{
opacity: 1;
}
h2{
  text-align: center;
}
.product-name h3{
font-size: 20px;
}

@media(max-width: 600px){
  .row{
   display: grid;
   gap: 3px;
   grid-template-columns: auto auto;
}
h2{
margin-left: 50px;
}
.product-inner-box .icons{
display: flex;
left: 130px;
flex-direction: column;
}
.cart-btn button{
font-size: 10px;
}
}


