@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

  /**SISTEMA DE TURNOS **/

body{
    color: linear-gradient(120deg,#d595c8,rgba(247, 146, 201, 0.644));
 }
 h4{
     color: #da7ec8;
 }
 label{
     color: #d69dd6;
 }
 .form-registro {
     width: 400px;
     padding: 40px;
     margin: auto;
     margin-top: 2%;
     border-radius: 1px;
     font-family: 'calibri';
     color: white;
     box-shadow: 1px 13px 37px #ad75df;
     display: flex;
 }
 .form-registro .control {
     width: 100%;
     background: #fbeafd;
     padding: 10px;
     border-radius: 2px;
     margin-bottom: 20px;
     border: 1px solid #b94f76;
     font-family: 'calibri';
     font-size: 18px;
 }
 .form-registro .boton {
     width: 100%;
     background: #dd17a2;
     border: none;
     padding: 12px;
     color: white;
     margin: 16px 0;
     font-size: 16px;
 }