@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

.d-item{
  height: 650px;
  margin-top: 10px;
}
.d-img{
  height: 100%;
  object-fit: cover;

}
