@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

.d-item{
  height: 600px;

}
.d-img{
  height: 100%;
  object-fit: cover;

}
.active_a{
  background-color: #e77dbf;
}
@media(max-width:850px){
  .d-item{
    height: 400px;
 
  }
  .d-img{
    height: 100%;
    object-fit: cover;
  
  }
    }

